/* BASIC STYLES HERE */
body {
  background-size: cover;
  background-position: center;
}

.todo-completed {
  text-decoration: line-through;
}

.quote-area {
  transition: 1s ease-in-out;
}

.quote-area:hover {
  cursor: default;
  text-align: end;
}