/* BASIC STYLES HERE */
body {
  background-size: cover;
  background-position: center;
}

.todo-completed {
  text-decoration: line-through;
}

/* FIXME - transition not working */
.quote-area {
  transition: 1s ease-in-out;
}

.quote-area:hover {
  cursor: default;
}

.blur {
  filter: blur(.5px);
}

.font-rh-mono {
  font-family: 'Red Hat Mono', monospace;
}

.font-rh-disp {
  font-family: 'Red Hat Display', sans-serif;
}

.weather-img {
  height: 80px;
  width: 80px;
  object-fit: fill;
}

.font-stroke {
  color: white;
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}